/*Seteo para todo*/
body,
header,
main,
section,
footer {
  font-family: "Oswald", sans-serif;
  padding-top: 0px;
  background-color: #000000;
}

main{
  padding-top: 70px;
}

h3.somos{
  color: white;
}

/*Seteo para nav bar*/
.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
}

/*Seteo para h1*/
.title-h1 {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  color: #ffff;
  background-color: black;
}

/*Seteo para el reproductor de la radio*/
.Media-player {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 150px;

  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .Media-player {
    bottom: 0;
    right: 0;
  }
}

/*Seteo para la sección con las tarjetas*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.card {
  background-color: #212529;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: 300px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 1.5em;
  margin: 0 0 10px;
}
.card-text {
  color: #212529;
}
@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

/*Seteo para la sección del texto descriptivo*/
.description-section {
  padding: 20px;
  text-align: center;
  background-color: #212529;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.description-section h2 {
  color: #ffff;
  margin-top: 0;
}
.description-section p {
  color: #ffff;
}
@media (max-width: 768px) {
  .description-section {
    margin: 10px;
    padding: 15px;
  }
}
@media (max-width: 480px) {
  .description-section {
    margin: 5px;
    padding: 10px;
  }
}

/*Seteo para la sección del footer*/
footer {
  background-color: #212529;
  color: white;
  padding: 20px 0;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.footer-section {
  flex: 1;
  margin: 10px;
}
.footer-section h3 {
  margin-bottom: 15px;
}
.social-icons {
  list-style: none;
  padding: 0;
}
.social-icons li {
  display: inline;
  margin: 0 10px;
}
.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
}

/* Tarjetas en programacion*/
.card-program {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card-programacion {
  display: flex;
  flex-direction: column;
  background-color: #212529;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-time-program {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.card-content-program {
  padding: 20px;
}

.card-title-program {
  color: white;
  margin: 0 0 10px;
}

.card-description-program {
  color: white;
}

.card-image-program {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .card-programacion {
    grid-template-columns: 1fr;
  }
}

/* Formulario de contacto*/
.contact-section {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #212529;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  color: white;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

button {
  grid-column: span 2;
  padding: 10px;
  background-color: white;
  color: #212529;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #212529;
  color: white;
}

@media (max-width: 768px) {
  .contact-form {
    grid-template-columns: 1fr;
  }
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-content h2 {
  margin-top: 0;
}

.about-content p {
  color: #555;
}

@media (max-width: 768px) {
  .about-section {
      grid-template-columns: 1fr;
  }
}